.idea/

engine/starter/local.php
engine/logs/log.txt
engine/logs/log_go404.txt
public_html/.htaccess
public_html/img/
engine/starter/analyticstracking.php
engine/uploads/
engine/starter/mixpaneltracking.php

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

# copied from default codeigniter .gitignore
.DS_Store

public_html/application/cache/*
!public_html/application/cache/index.html
!public_html/application/cache/.htaccess

public_html/application/logs/*
!public_html/application/logs/index.html
!public_html/application/logs/.htaccess
