.idea/
mockup/.idea

engine/starter/local.php
engine/logs/
public_html/.htaccess
public_html/img/
public_html/inc/
engine/starter/analyticstracking.php
engine/uploads/
engine/starter/mixpaneltracking.php

*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

# copied from default codeigniter .gitignore
.DS_Store

public_html/application/cache/*
!public_html/application/cache/index.html
!public_html/application/cache/.htaccess

public_html/application/logs/*
!public_html/application/logs/index.html
!public_html/application/logs/.htaccess
/hk_homepage_v3.psd
/hk_homepage_v3-login.jpg
